body{
    background-image: url(pngtre.jpg);
    background-size: cover;
}

header{
    color: antiquewhite;
    width: 100%;
}

@media (min-width: 600px){
    section{
        display: inline-block;
        width:30%;
        height: 100px;
        background-color: rgba(211, 192, 192, 0.5);
        margin: 5px;
   }      
}

@media (min-width: 600px) and (max-width: 1110px) {
    section{
        display: inline-block;
        width:45%;
        height: 100px;
        background-color: rgba(211, 192, 192, 0.5);
        margin: 5px;
   }      
}

@media screen and (max-width: 599px) {
    section{
        display: block;
        width: 90%;
        height: 200px;
        background-color: rgba(211, 192, 192, 0.5);
        margin: 5px;
   }      
}